<div>
  <mat-toolbar class="toolbar">
    <div class="logo py-4">
      <img src="./assets/logo_wcf.png" alt />
    </div>
    <div class="center-span">
      <p>Smart Asset Management System</p>
    </div>
    <span class="spacer"></span>

    <a class="btn btn-outline-primary" (click)="openMyRequest()"
      routerLinkActive="active">My Request</a>
    &nbsp; &nbsp;
    <a class="btn btn-outline-secondary"
      routerLinkActive="active">Feedback</a>
    &nbsp; &nbsp;
    <button mat-icon-button matTooltip="Live Chat Room" (click)="fetchData()">
      <mat-icon matBadge="1" matBadgeColor="accent"
        style="color: green; font-size: 28px">forum</mat-icon>
    </button>

    <button mat-icon-button matTooltip="Manage Account"
      [matMenuTriggerFor]="beforeMenu">
      <mat-icon
        style="color: green; font-size: 26.4px">account_circle</mat-icon>
    </button>

    <mat-menu #menu="matMenu" #beforeMenu="matMenu" xPosition="before">
      <button (click)="openProfile()" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasRight"
        aria-controls="offcanvasRight" mat-menu-item>
        <mat-icon>admin_panel_settings</mat-icon>
        Profile
      </button>
      <button mat-menu-item (click)="handleChangePasswordAction()">
        <mat-icon>password</mat-icon>
        Change Password
      </button>
      <button mat-menu-item>
        <mat-icon>new_releases</mat-icon>
        New Updates
      </button>

      <button mat-menu-item matTooltip="Logout" (click)="logout()">
        <mat-icon>logout</mat-icon> Logout
      </button>
    </mat-menu>
  </mat-toolbar>
</div>
&nbsp; &nbsp; <br>

<div class="container mt-3">
  <mat-card style="background-color: rgb(250, 246, 246);">
    <mat-card-header *ngIf="loggedUser">
      <div mat-card-avatar></div>
      <mat-card-title>Welcome, {{loggedUser.userFirstName}} {{
        loggedUser.userLastName }} 🖐️</mat-card-title>
    </mat-card-header>

    <div class="text-right" (click)="requestAsset()">
      <a class="btn btn-primary">Request For Asset</a>
    </div>

    <div mat-card-image></div>
    <mat-card-content>
      <!-- <p>The Shiba Inu is the smallest</p> -->
    </mat-card-content>
  </mat-card>
  &nbsp; &nbsp;

  <div class="card mt-4 card border-info mb-20">
    <div *ngIf="assignDetails && assignDetails.length > 0">
      <div class="text-center mt-3">
        <h2><span class="assign-text">Asset Assigned</span></h2>
      </div>
      <!-- Table contents -->
      <div class="table-container">
        <table mat-table [dataSource]="assignDetails" class="mat-elevation-z8">
          <!-- productName Column -->
          &nbsp;
          <ng-container matColumnDef="Product Name">
            <th mat-header-cell *matHeaderCellDef>Product Name</th>
            <td mat-cell *matCellDef="let element">{{ element.productName
              }}</td>
          </ng-container>

          <!-- productPrice Column -->
          <ng-container matColumnDef="Product Price">
            <th mat-header-cell *matHeaderCellDef>Product Price</th>
            <td mat-cell *matCellDef="let element">{{ element.productPrice
              }}</td>
          </ng-container>

          <!-- productModel Column -->
          <ng-container matColumnDef="Product Model">
            <th mat-header-cell *matHeaderCellDef>Product Model</th>
            <td mat-cell *matCellDef="let element">{{ element.productModel
              }}</td>
          </ng-container>

          <!-- productCategory Column -->
          <ng-container matColumnDef="Product Description">
            <th mat-header-cell *matHeaderCellDef>Product Description</th>
            <td mat-cell *matCellDef="let element">
              {{ element.productDescription }}
            </td>
          </ng-container>

          <!-- productSerialNo Column -->
          <ng-container matColumnDef="Product Serial Number">
            <th mat-header-cell *matHeaderCellDef>Serial Number</th>
            <td mat-cell *matCellDef="let element">
              {{ element.productSerialNo }}
            </td>
          </ng-container>

          <!-- productSerialNo Column -->
          <ng-container matColumnDef="Date Assigned">
            <th mat-header-cell *matHeaderCellDef>Date Assign</th>
            <td mat-cell *matCellDef="let element">{{ element.productDate
              }}</td>
          </ng-container>
          <!--  Button -->
          <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element">
              <!-- QR Code button -->
              <button
                mat-icon-button
                matTooltip="QR Code"
                color="primary"
                (click)="showQrCode(element)">
                <mat-icon>qr_code</mat-icon>
              </button>

              <button
                mat-icon-button
                matTooltip="Return Asset"
                color="accent"
                (click)="
                  openReturnAssetDialog(element.productId, element.user.userName)
                ">
                <mat-icon>move_down</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>
    <div *ngIf="!assignDetails || assignDetails.length === 0">
      <h2 class="text-center">No assigned Asset available.</h2>
    </div>
  </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">

    <h5 id="offcanvasRightLabel">

      <div class="offcanvas-body" #offcanvasBody>
        <!-- Content will be loaded here -->
      </div>

    </h5>
    <button type="button" mat-icon-button mat-dialog-close
      data-bs-dismiss="offcanvas"
      aria-label="Close"><mat-icon>close</mat-icon></button>
  </div>

</div>
