  table {
    width: 100%;
  }

  .mat-icon {
    font-size: 27px;
  }

  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background-color: rgb(199, 194, 194);
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    
    width: 100%;
  }
  
  .center-span {
    flex-grow: 1;
  
    justify-content: center;
    text-align: center;
    font-size: 24px;
  }
  
  .logo {
    padding: 2.6rem 1rem;
    img {
      width: 150px;
      height: 90px;
      margin-left: -5px;
      display: block;
      border-radius: 10%;
    }
  }

  
  .demo-section + .demo-section {
    margin-top: 16px;
  }
  
  mat-grid-tile {
    background: lightblue;
    cursor: pointer;
  }

  td {
    padding: 10px;
  }

  .home-page {
    max-width: 90%;
    max-height: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .text-right {
    margin-left: 900px;
    margin-top: -50px;
  }
  
  @media only screen and (max-width: 600px) {
    .text-right {
      margin-left: 0; 
      margin-top: 0;  
      text-align: right; 
    }
  }

  .assign-text {
    display: inline-table;
    background-color: rgb(169, 169, 173);
    color: white;
    padding: 2px;
  }

  

  

  