.dialog-container {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dialog-header {
  text-align: center;
}


mat-dialog-content h4 {
  margin: 20px 0;
  font-weight: normal;
  text-align: center;
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0;
}

mat-dialog-actions button {
  margin-left: 10px;
}

button[mat-raised-button] {
  padding: 10px 20px;
}

button[mat-dialog-close] mat-icon {
  vertical-align: middle;
}

button[color="accent"] {
  background-color: #ff4081;
  border-color: #ff4081;
  color: white;
}

button[color="accent"]:hover {
  background-color: #f50057;
  border-color: #f50057;
}

button[color="primary"] {
  background-color: #3f51b5;
  border-color: #3f51b5;
  color: white;
}

button[color="primary"]:hover {
  background-color: #303f9f;
  border-color: #303f9f;
}
