<div class="dialog-container">
  <h1 class="dialog-header" mat-dialog-title>Confirmation</h1>
  <mat-dialog-content>
    <h4>Are you sure you want to delete the Schedule?</h4>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="accent" [mat-dialog-close]="true">
      <mat-icon>delete</mat-icon> Delete
    </button>
    <button mat-raised-button color="primary" mat-dialog-close>
      <mat-icon>close</mat-icon> Cancel
    </button>
  </mat-dialog-actions>
</div>
