<mat-toolbar class="border-bottom border-info-subtle">
  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>

    <!-- <button mat-icon-button
    (click)="fetchData()"
      style="margin-left: auto; margin-right: 0px; display: flex;">
      <mat-icon matBadge
        style="color: green; font-size: 33px;">forum</mat-icon>
    </button> -->

    <button mat-icon-button class="matBadge" matTooltip="Live Chat Room"
      (click)="fetchData()">
      <mat-icon matBadge="1" matBadgeColor="accent"
        style="color: green; font-size: 30px;">chat</mat-icon>
    </button>

    <div class="row mr-2 ml-auto">
      <ul class="row m-0 align-items-center">
        <li>
          <button
            mat-button
            matTooltip="options"
            [matMenuTriggerFor]="menu"
            class="user mt-2 d-flex align-items-center">
            <img src="./assets/img/logo2.jpg" alt class="user-image mr-1 p-2" />
          </button>
          <mat-menu #menu="matMenu">
            <button routerLink="/dashboard/profile" mat-menu-item>
              <mat-icon>admin_panel_settings</mat-icon>
              Profile
            </button>
            <button mat-menu-item>
              <mat-icon>new_releases</mat-icon>
              New Updates
            </button>
            <a mat-menu-item (click)="logout()">
              <mat-icon>logout</mat-icon>
              Logout
            </a>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

