mat-toolbar {
    position: sticky;
    top: -10000;
    background: rgb(240, 243, 243);
    z-index: 1000;
  }
  
  .mat-menu {
    background-color: black;
  }
  
  ul {
    li {
      list-style: none;
    }
  }
  button {
    outline: none;
    border: 0;
    background: transparent;
  }
  .user {
    font-size: 14px;
  }
  .user-image {
    border-radius: 80%;
    width: 60px;
    margin-left: -30px;
    height: 60px;
    &-icon {
      height: 17px;
      font-size: 15px;
    }
  }
  
  ::ng-deep {
    .mat-menu-content {
      width: 160px;
      z-index: 1100;
    }
  }
  
    
  .demo-section + .demo-section {
    margin-top: 16px;
  }

  .matBadge {
    margin-left: 890px;
    font-size: 50px;
  }
  
  