<mat-toolbar class="border-bottom border-info-subtle">
  <mat-toolbar-row class="justify-content-between">
    <button mat-icon-button (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>

    <button mat-icon-button class="matBadge">
      <mat-icon matBadge
        style="color: green; font-size: 30px;">message</mat-icon>
    </button>

    <!-- <button mat-icon-button class="matBadge" matTooltip="Live Chat Room"
      (click)="fetchData()">
      <mat-icon matBadge="1" matBadgeColor="accent"
        style="color: green; font-size: 30px;">chat</mat-icon>
    </button> -->

    <div class="row mr-2 ml-auto">
      <ul class="row m-0 align-items-center">
        <li>
          <button
            mat-button
            matTooltip="Click to check options"
            [matMenuTriggerFor]="menu"
            class="user mt-2 d-flex align-items-center">

            <img src="./assets/img/logo2.jpg" alt class="user-image mr-1 p-2" />

          </button>
          <mat-menu #menu="matMenu">
            <button (click)="openProfile()" data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasRight"
              aria-controls="offcanvasRight" mat-menu-item>
              <mat-icon>admin_panel_settings</mat-icon>
              Profile
            </button>
            <button mat-menu-item>
              <mat-icon>help</mat-icon>
              Help
            </button>
            <a mat-menu-item (click)="logout()">
              <mat-icon>logout</mat-icon>
              Logout
            </a>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">

    <h5 id="offcanvasRightLabel">

      <div class="offcanvas-body" #offcanvasBody>
        <!-- Content will be loaded here -->
      </div>

    </h5>
    <button type="button" mat-icon-button mat-dialog-close
      data-bs-dismiss="offcanvas"
      aria-label="Close"><mat-icon>close</mat-icon></button>
  </div>

</div>
