<mat-toolbar>
  <mat-toolbar-row fxLayout="row">
    <h1 class="text-center">Assign Asset To Employee</h1>
    <span class="spacer"></span>
    <button
      class="mat-dialog-close custom-close-button"
      mat-icon-button
      mat-dialog-close
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="assignForm">
    <div fxFlex fxLayout="column">
      &nbsp;
      <mat-form-field class="custom-width" appearance="fill">
        <mat-label>Id</mat-label>
        <input
          matInput
          formControlName="productId"
          autocomplete="off"
          readonly
        />
      </mat-form-field>
      &nbsp;

      <mat-form-field class="custom-width" appearance="fill">
        <mat-label>Name</mat-label>
        <input
          matInput
          formControlName="productName"
          autocomplete="off"
          readonly
        />
        <mat-icon matSuffix>person_circle</mat-icon>
        <mat-error
          *ngIf="
            assignForm.controls['productName'].touched &&
            assignForm.controls['productName'].invalid
          "
        >
          <span *ngIf="assignForm.controls['productName'].hasError('required')"
            >This is field mandatory.</span
          >
          <span *ngIf="assignForm.controls['productName'].hasError('pattern')"
            >This is field is invalid.</span
          >
        </mat-error>
      </mat-form-field>
      &nbsp;

      <mat-form-field class="custom-width" appearance="fill">
        <mat-label>Costs</mat-label>
        <input
          matInput
          formControlName="productPrice"
          autocomplete="off"
          readonly
        />
        <mat-icon matSuffix>payments</mat-icon>
        <mat-error
          *ngIf="
            assignForm.controls['productPrice'].touched &&
            assignForm.controls['productPrice'].invalid
          "
        >
          <span *ngIf="assignForm.controls['productPrice'].hasError('required')"
            >This is field mandatory.</span
          >
          <span *ngIf="assignForm.controls['productPrice'].hasError('required')"
            >This is field is invalid.</span
          >
        </mat-error>
      </mat-form-field>
      &nbsp;

    </div>

    <div fxFlex fxLayout="column">
      &nbsp;
      <mat-form-field class="custom-width" appearance="fill">
        <mat-label>Serial No</mat-label>
        <input
          matInput
          formControlName="productSerialNo"
          autocomplete="off"
          readonly
        />
        <mat-icon matSuffix>dialpad</mat-icon>
        <mat-error
          *ngIf="
            assignForm.controls['productSerialNo'].touched &&
            assignForm.controls['productSerialNo'].invalid
          "
        >
          <span
            *ngIf="assignForm.controls['productSerialNo'].hasError('required')"
            >This is field mandatory.</span
          >
          <span
            *ngIf="assignForm.controls['productSerialNo'].hasError('required')"
            >This is field is invalid.</span
          >
        </mat-error>
      </mat-form-field>
      &nbsp;

      <mat-form-field class="custom-width" appearance="fill">
        <mat-label>Username</mat-label>
        <mat-select 
           formControlName="userName"
           (selectionChange)="onAssignUserNameSelect($event)"
          [(value)]="selectedUserName"
          required
        >
          <mat-option  *ngFor="let user of users" [value]="user.userName">
            {{ user.userName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      &nbsp;
    </div>
    
    &nbsp;

    <div fxFlex fxLayout="column">
      &nbsp;
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Description</mat-label>
        <textarea
          matInput
          formControlName="productDescription"
          placeholder="Enter your notes here"
          autocomplete="off"
          readonly
        ></textarea>
        <mat-icon matSuffix>description</mat-icon>
        <mat-error
          *ngIf="
            assignForm.controls['productDescription'].touched &&
            assignForm.controls['productDescription'].invalid
          "
        >
          <span
            *ngIf="
              assignForm.controls['productDescription'].hasError('required')
            "
            >This is field mandatory.</span
          >
          <span
            *ngIf="
              assignForm.controls['productDescription'].hasError('required')
            "
            >This is field is invalid.</span
          >
        </mat-error>
      </mat-form-field>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

      <mat-form-field class="custom-width" appearance="fill">
        <mat-label>Model</mat-label>
        <input
          matInput
          formControlName="productModel"
          autocomplete="off"
          readonly
        />
        <mat-icon matSuffix>badge</mat-icon>
        <mat-error
          *ngIf="
            assignForm.controls['productModel'].touched &&
            assignForm.controls['productModel'].invalid
          "
        >
          <span *ngIf="assignForm.controls['productModel'].hasError('required')"
            >This is field mandatory.</span
          >
          <span *ngIf="assignForm.controls['productModel'].hasError('required')"
            >This is field is invalid.</span
          >
        </mat-error>
      </mat-form-field>
      &nbsp;
    </div>
    &nbsp;
  </form>

  &nbsp;
  <mat-dialog-actions align="end">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      (click)="handleSubmit()"
      [disabled]="!(assignForm.valid && assignForm.dirty)"
    >
      <mat-icon>rocket_launch</mat-icon>
      Assign
    </button>
    <button mat-raised-button color="warn" mat-dialog-close>
      <mat-icon>cancel</mat-icon>Close
    </button>
  </mat-dialog-actions>
</mat-dialog-content>
