<mat-toolbar style="background-color: rgb(214, 211, 207);">
  <mat-toolbar-row fxLayout="row">
    <h1 style="text-align: center">Add Asset</h1>
    <span class="spacer"></span>
    <button
      class="mat-dialog-close custom-close-button"
      mat-icon-button
      mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
  <form #productForm="ngForm" (ngSubmit)="addProduct(productForm)">
    <div fxFlex fxLayout="column">
      &nbsp;
      <mat-form-field class="custom-width" appearance="fill">
        <mat-label>productId</mat-label>
        <input
          matInput
          name="productId"
          [(ngModel)]="product.productId"
          autocomplete="off"
          required />
        <mat-error
          *ngIf="
            productForm.controls['productId']?.touched &&
            productForm.controls['productId']?.invalid
          ">
          <span
            *ngIf="productForm.controls['productId']?.hasError('required')">This
            is field mandatory.</span>
          <span
            *ngIf="productForm.controls['productId']?.hasError('pattern')">This
            is field is invalid.</span>
        </mat-error>
      </mat-form-field>
      &nbsp;

      <mat-form-field class="custom-width" appearance="fill">
        <mat-label>Name</mat-label>
        <input
          matInput
          name="productName"
          [(ngModel)]="product.productName"
          autocomplete="off"
          required />
        <mat-icon matSuffix>person_circle</mat-icon>
        <mat-error
          *ngIf="
            productForm.controls['productName']?.touched &&
            productForm.controls['productName']?.invalid
          ">
          <span
            *ngIf="productForm.controls['productName']?.hasError('required')">This
            is field mandatory.</span>
          <span
            *ngIf="productForm.controls['productName']?.hasError('pattern')">This
            is field is invalid.</span>
        </mat-error>
      </mat-form-field>
      &nbsp;
    </div>

    <div fxFlex fxLayout="column">
      &nbsp;
      <mat-form-field class="custom-width" appearance="fill">
        <mat-label>Serial No</mat-label>
        <input
          matInput
          name="productSerialNo"
          [(ngModel)]="product.productSerialNo"
          autocomplete="off"
          required />
        <mat-icon matSuffix>dialpad</mat-icon>
        <mat-error
          *ngIf="
            productForm.controls['productSerialNo']?.touched &&
            productForm.controls['productSerialNo']?.invalid
          ">
          <span
            *ngIf="productForm.controls['productSerialNo']?.hasError('required')">This
            is field mandatory.</span>
          <span
            *ngIf="productForm.controls['productSerialNo']?.hasError('required')">This
            is field is invalid.</span>
        </mat-error>
      </mat-form-field>
      &nbsp;

      <mat-form-field class="custom-width" appearance="fill">
        <mat-label>Department</mat-label>
        <mat-select
          [(value)]="selectedDepartment"
          (selectionChange)="onDepartmentSelect($event)"
          name="productDepartment"
          [(ngModel)]="product.productDepartment"
          required>
          <mat-option *ngFor="let department of departments"
            [value]="department.name">
            {{ department.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    &nbsp;

    <div fxFlex fxLayout="column">
      &nbsp;
      <mat-form-field class="custom-width" appearance="fill">
        <mat-label>Costs</mat-label>
        <input
          matInput
          name="productPrice"
          [(ngModel)]="product.productPrice"
          autocomplete="off"
          required />
        <mat-icon matSuffix>payments</mat-icon>
        <mat-error
          *ngIf="
            productForm.controls['productPrice']?.touched &&
            productForm.controls['productPrice']?.invalid
          ">
          <span
            *ngIf="productForm.controls['productPrice']?.hasError('required')">This
            is field mandatory.</span>
          <span
            *ngIf="productForm.controls['productPrice']?.hasError('required')">This
            is field is invalid.</span>
        </mat-error>
      </mat-form-field>
      &nbsp;
      &nbsp;

      <mat-form-field class="custom-width" appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select
          [(value)]="selectedStatus"
          (selectionChange)="onStatusSelect($event)"
          name="productStatus"
          [(ngModel)]="product.productStatus"
          required>
          <mat-option *ngFor="let status of statuses" [value]="status.name">
            {{ status.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      &nbsp;
    </div>

    <div fxFlex fxLayout="column">
      &nbsp;
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Description</mat-label>
        <textarea
          matInput
          name="productDescription"
          [(ngModel)]="product.productDescription"
          placeholder="Enter your notes here"
          required
          autocomplete="off"></textarea>
        <mat-icon matSuffix>description</mat-icon>
        <mat-error
          *ngIf="
            productForm.controls['productDescription']?.touched &&
            productForm.controls['productDescription']?.invalid
          ">
          <span
            *ngIf="
              productForm.controls['productDescription']?.hasError('required')
            ">This is field mandatory.</span>
          <span
            *ngIf="
              productForm.controls['productDescription']?.hasError('required')
            ">This is field is invalid.</span>
        </mat-error>
      </mat-form-field>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

      <mat-form-field class="custom-width" appearance="fill">
        <mat-label>Model</mat-label>
        <input
          matInput
          name="productModel"
          [(ngModel)]="product.productModel"
          required
          autocomplete="off" />
        <mat-icon matSuffix>badge</mat-icon>
        <mat-error
          *ngIf="
            productForm.controls['productModel']?.touched &&
            productForm.controls['productModel']?.invalid
          ">
          <span
            *ngIf="productForm.controls['productModel']?.hasError('required')">This
            is field mandatory.</span>
          <span
            *ngIf="productForm.controls['productModel']?.hasError('required')">This
            is field is invalid.</span>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="select-form">
      <mat-form-field class="mat-form">
        <mat-label>Asset Type</mat-label>
        <mat-select
          [(ngModel)]="selectedCategory"
          (selectionChange)="onCategorySelect($event)"
          name="productCategory"
          required>
          <mat-option *ngFor="let category of categories"
            [value]="category.name">
            {{ category.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="selectedName.length > 0" class="secondary-select">
        <div *ngFor="let category of selectedName">
          <mat-form-field class="mat-form">
            <mat-label>Select Category</mat-label>
            <mat-select required>
              <mat-option *ngFor="let option of category.categories"
                [value]="option">
                {{ option }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>

    &nbsp;

    <div fxFlex fxLayout="column">
      <div class="dropzone" appDrag (files)="fileDropped($event)">
        <div class="text-wrapper">
          <div class="centered">
            Drag and drop your file or
            <a (click)="selectFile.click()" class="browse-button">browser</a>
            a file
          </div>
        </div>
      </div>
      <div>
        <input
          type="file"
          multiple
          style="display: none"
          value="select"
          #selectFile
          required
          (change)="onFileSelected($event)" />
      </div>

      <div class="mt-2">
        <div class="row">
          <mat-grid-list cols="4" rowHeight="1:1">
            <mat-grid-tile
              *ngFor="let file of product.productImages; let i = index">
              <div style="position: relative">
                <span class="btn-remove-image"
                  (click)="removeImages(i)">x</span>
                <img [src]="file.url" width="100px" height="100px" />
              </div>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </div>
    </div>
    <mat-dialog-actions align="end">
      <button mat-raised-button color="primary" type="submit">
        <mat-icon>save</mat-icon>
        Add
      </button>
      <button mat-raised-button color="warn" mat-dialog-close>
        <mat-icon>cancel</mat-icon>Close
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
