:host {
    --custom-width: 300px;
  }
  
  .custom-width {
    width: var(--custom-width);
  }


  .dropzone {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
  }
  
  .drag-icon {
    font-size: 48px;
    color: #ccc;
  }
  
  .preview-image {
    max-width: 100%;
    margin-top: 20px;
  }
  