<div class="container">
  <h1>Maintenance</h1>
  <mat-divider></mat-divider>
  <br />

  <!-- Alert Message -->
  <div *ngIf="alertMessage" class="alert alert-warning d-flex align-items-center" role="alert" style="position: relative;">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </svg>
    <div style="flex-grow: 1;">
      Asset needs to be Maintained {{ alertMessage }}
    </div>
    <svg (click)="closeAlert()" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16" style="position: absolute; right: 10px; cursor: pointer;">
      <path d="M8 1a7 7 0 1 1 0 14A7 7 0 0 1 8 1zM4.646 4.646a.5.5 0 0 0 0 .708L7.293 8 4.646 10.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646a.5.5 0 0 0-.708 0z"/>
    </svg>
  </div>


  <button
    style="display: flex; align-items: center"
    class="btn btn-primary float-end"
    type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasRight"
    aria-controls="offcanvasRight">
    Calender &nbsp;
    <mat-icon style="margin-left: 5px">event_available</mat-icon>
  </button>

  <div
    class="offcanvas offcanvas-end"
    tabindex="-1"
    id="offcanvasRight"
    aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-body">
      <div class="container maintenance">
        <div
          style="
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: aliceblue;
          ">
          <h2>Maintenance Time Settings</h2>
        </div>

        &nbsp;
        <mat-divider></mat-divider>
        &nbsp;
        <form [formGroup]="maintenanceForm">
          <div>
            <mat-form-field class="example-form-field"
              [ngClass]="{ 'invalid-field': maintenanceForm.get('selectedDate').invalid && (maintenanceForm.get('selectedDate').dirty || maintenanceForm.get('selectedDate').touched) }">
              <mat-label>Set date for maintenance</mat-label>
              <input matInput [matDatepicker]="datepicker"
                formControlName="selectedDate" required />
              <mat-datepicker-toggle matSuffix
                [for]="datepicker"></mat-datepicker-toggle>
              <mat-datepicker #datepicker></mat-datepicker>
              <mat-error
                *ngIf="maintenanceForm.get('selectedDate').hasError('required')">Date
                is required</mat-error>
            </mat-form-field>

            <mat-form-field class="example-form-field">
              <input
                matInput
                formControlName="selectedTime"
                [ngxTimepicker]="timepicker"
                [format]="24"
                placeholder="Choose a time"
                required />
              <ngx-material-timepicker #timepicker></ngx-material-timepicker>
              <mat-error
                *ngIf="maintenanceForm.get('selectedTime').hasError('required')">Time
                is required</mat-error>
            </mat-form-field>

            <mat-form-field class="example-form-field">
              <mat-label>Add Note</mat-label>
              <textarea matInput formControlName="note" required></textarea>
              <mat-error
                *ngIf="maintenanceForm.get('note').hasError('required')">Note is
                required</mat-error>
            </mat-form-field>
          </div>

          <div class="d-grid gap-2 col-6 mx-auto example-form-field">
            <button (click)="onSubmit()" class="btn btn-outline-primary"
              type="submit">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <mat-card class="custom-card">
    <div style="display: flex; align-items: center">
      <span style="margin-right: 8px; cursor: pointer;">Maintenance
        Events</span>
      <mat-icon>events</mat-icon>
    </div>
  </mat-card>

  <div class="card mt-3">
    &nbsp;
    <full-calendar
      class="full-calendar"
      [options]="calendarOptions"></full-calendar>
  </div>
</div>
