<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row">
    <span class="custom-title">{{dialogData.action}} Department</span>
    <span class="spacer"></span>
    <button
      class="mat-dialog-close custom-close-button"
      mat-icon-button
      mat-dialog-close
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="departmentForm">
    <div fxFlex fxLayout="column">
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Department Name</mat-label>
        <input matInput formControlName="name" autocomplete="off" required />
        <mat-icon matSuffix>person_outline</mat-icon>
        <mat-error
            *ngIf="
              departmentForm.controls['name'].touched &&
              departmentForm.controls['name'].invalid
            "
          >
            <span *ngIf="departmentForm.controls['name'].hasError('required')"
              >This is field mandatory.</span
            >
            <span *ngIf="departmentForm.controls['name'].hasError('required')"
              >This is field is invalid.</span
            >
          </mat-error>
      </mat-form-field>

    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()"
  [disabled]="!(departmentForm.valid && departmentForm.dirty)">
    <mat-icon>domain_add</mat-icon>{{action}} Department
  </button>
  <button mat-raised-button color="warn" mat-dialog-close>
    <mat-icon>cancel</mat-icon>Close
  </button>
</mat-dialog-actions>
