<mat-card>
</mat-card>
<mat-card>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>Add Status</mat-card-title>
  </mat-card-header>
  <div mat-card-image></div>
  <mat-card-content>

    <form>
        <div class="form-group">
          <label >Status Name</label>
          <br>
          <input type="email" class="form-control" placeholder="Enter Status Name">
        </div>
        <br>
      </form>
      
  </mat-card-content>
  <mat-dialog-actions align="end">
    <button
      mat-raised-button
      color="primary"
      type="submit"  
    >
      <mat-icon>save</mat-icon>Add Status
    </button>
    <button mat-raised-button color="accent" mat-dialog-close>
      <mat-icon>cancel</mat-icon>Close
    </button>
  </mat-dialog-actions>
</mat-card>

