
.status-card {
    width: 330px; 
    margin: 0 auto; 
    margin-top: 20px; 
    padding: 15px;
    background-color: aliceblue;
  }
  

.centered-content {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100%;
}
  