<div class="container mt-3">
    <h1><span style="font-weight: bold;">Status</span></h1>
    <div style="display: flex; justify-content: flex-end">
        <button mat-stroked-button (click)="addNewStatus()">
          <mat-icon>add_box</mat-icon> Add Status
        </button>
      </div>
      <br><br>

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-8">
            <table class="table table-dark table-striped table-bordered">
              <thead class="thead-hover">
                <tr>
                  <th scope="col" style="width: 30%">#</th>
                  <th scope="col" style="width: 30%">Status</th>
                  <th scope="col" style="width: 80%">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>
                    <mat-dialog-actions>
                      <button mat-raised-button color="primary" type="submit">
                        <mat-icon>edit</mat-icon>Update
                      </button>
                      &nbsp;
                      <button mat-raised-button color="warn" type="submit">
                        <mat-icon>delete</mat-icon>Delete
                      </button>
                    </mat-dialog-actions>
                  </td>
                </tr>
                <!-- Add more rows as needed -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
      
  </div>
