<div class="bg-image"></div>
<div class="mt-5">
    <div style="margin-top: 20px;">
        <div class="container">
            <div class="text-center">
                <h5 class="section-heading text-uppercase">Best Seller</h5>
            </div>
            <ul class="timeline">
                <li>
                    <a href="../../assets/img/1.jpg" target="_blank">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/1.jpg" alt="..." /></div>
                    </a>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Pizza</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">Pizza is an Italian dish consisting of a usually round
                                a wood-fired oven</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <a href="../../assets/img/2.jpg" target="_blank">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/2.jpg" alt="..." /></div>
                    </a>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Biryani</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">Biryani is a mixed rice dish. It is made with Indian spices</p>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="../../assets/img/3.jpg" target="_blank">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/3.jpg" alt="..." /></div>
                    </a>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Pasta</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">Pasta is a type of food typically made from an unleavened dough of wheat flour mixed with water or eggs.</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <a href="../../assets/img/4.jpg" target="_blank">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/4.jpg" alt="..." /></div>
                    </a>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Molten chocolate cake</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">Molten chocolate cake is a popular dessert that combines the elements of a chocolate cake and a soufflé. 
                                or simply lava cake.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="wrapper sticky">
    <nav class="navbar-fixed-top">
        <a href="#" class="logo">
            <mat-icon>storefront</mat-icon> Cafe Management System
        </a>
        <ul>
            <li>
                <a >Login</a>
                <a >Signup</a>
                <a >Forgot Password</a>
            </li>
        </ul>
    </nav>

</div>

<div class="footer" id="signup">
    <h2>All right reserved</h2>
</div>
