<div class="modal-content">
  <div class="modal-header mt-3">
    <h4 class="modal-title" id="deleteModelLabel">Delete Employee</h4>
    <a mat-raised-button color="basic" mat-dialog-close>
      <span aria-hidden="true">&times;</span>
    </a>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete <span style="font-weight: bold;">{{
        data.userName }}</span>?</p>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" mat-dialog-close>
        No
      </button>
      <button class="btn btn-danger" [mat-dialog-close]="true"
        data-dismiss="modal">Yes</button>
    </div>
  </div>
</div>
