<div class="container">
  <h2 style="font-weight: bold; text-align: center">Add New User's</h2>
  <div class="card">
    <mat-dialog-content class="mat-typography">
      <br />
      <form [formGroup]="addUserForm">
        <div fxFlex fxLayout="column">
          &nbsp;
          <mat-form-field class="custom-width" appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput formControlName="userName" autocomplete="off" required/>
            <mat-icon matSuffix>account_circle</mat-icon>
            <mat-error
              *ngIf="
                addUserForm.controls.userName.touched &&
                addUserForm.controls.userName.invalid
              "
            >
              <span *ngIf="addUserForm.controls.userName.errors.required"
                >This is field mandatory.</span
              >
              <span *ngIf="addUserForm.controls.userName.errors.pattern"
                >This is field is invalid.</span
              >
            </mat-error>
          </mat-form-field>
          &nbsp;

          <mat-form-field class="custom-width" appearance="fill">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="userFirstName" autocomplete="off" required/>
            <mat-icon matSuffix>person_circle</mat-icon>
            <mat-error
              *ngIf="
                addUserForm.controls.userFirstName.touched &&
                addUserForm.controls.userFirstName.invalid
              "
            >
              <span *ngIf="addUserForm.controls.userFirstName.errors.required"
                >This is field mandatory.</span
              >
              <span *ngIf="addUserForm.controls.userFirstName.errors.pattern"
                >This is field is invalid.</span
              >
            </mat-error>
          </mat-form-field>
          &nbsp;

          <mat-form-field class="custom-width" appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="userLastName" autocomplete="off" required/>
            <mat-icon matSuffix>person</mat-icon>
            <mat-error
              *ngIf="
                addUserForm.controls.userLastName.touched &&
                addUserForm.controls.userLastName.invalid
              "
            >
              <span *ngIf="addUserForm.controls.userLastName.errors.required"
                >This is field mandatory.</span
              >
              <span *ngIf="addUserForm.controls.userLastName.errors.pattern"
                >This is field is invalid.</span
              >
            </mat-error>
          </mat-form-field>
        </div>

        <div fxFlex fxLayout="column">
          &nbsp;
          <mat-form-field class="custom-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" autocomplete="off" required/>
            <mat-icon matSuffix>email</mat-icon>
            <mat-error
              *ngIf="
                addUserForm.controls.email.touched &&
                addUserForm.controls.email.invalid
              "
            >
              <span *ngIf="addUserForm.controls.email.errors.required"
                >This is field mandatory.</span
              >
              <span *ngIf="addUserForm.controls.email.errors.pattern"
                >This is field is invalid.</span
              >
            </mat-error>
          </mat-form-field>
          &nbsp;

          <mat-form-field class="custom-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="userPassword" autocomplete="off" required/>
            <mat-icon matSuffix>password</mat-icon>
            <mat-error
              *ngIf="
                addUserForm.controls.userPassword.touched &&
                addUserForm.controls.userPassword.invalid
              "
            >
              <span *ngIf="addUserForm.controls.userPassword.errors.required"
                >This is field mandatory.</span
              >
              <span *ngIf="addUserForm.controls.userPassword.errors.pattern"
                >This is field is invalid.</span
              >
            </mat-error>
          </mat-form-field>
          &nbsp;

          <mat-form-field class="custom-width" appearance="fill">
            <mat-label>Role</mat-label>
            <mat-select>
              <mat-option *ngFor="let r of role" [value]="r.roleName">
                {{ r.roleName }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          &nbsp;
        </div>
      </form>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        (click)="handleSubmit()"
      >
        <mat-icon>save</mat-icon> Save
      </button>
      &nbsp;
      <button
        mat-raised-button
        color="accent"
        mat-dialog-close
        routerLink="/dashboard/home"
      >
        <mat-icon>close</mat-icon>Close
      </button>
      &nbsp; &nbsp;
    </mat-dialog-actions>
    <br />
  </div>
</div>
<br /><br />


<!-- User's Table -->

<div class="container">
  <div class="card header">
    <h2 style="text-align: center; font-weight: bold">Manage User's</h2>
  </div>
  <br />
  <form class="d-flex">
    <div class="ms-auto">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
    </div>
    &nbsp; &nbsp;
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
  <br />

  <div class="card">
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Username Column -->
        <ng-container matColumnDef="Username">
          <th mat-header-cell *matHeaderCellDef>Username</th>
          <td mat-cell *matCellDef="let element">{{ element.userName }}</td>
        </ng-container>

        <!-- First Name Column -->
        <ng-container matColumnDef="First Name">
          <th mat-header-cell *matHeaderCellDef>First Name</th>
          <td mat-cell *matCellDef="let element">{{ element.userFirstName }}</td>
        </ng-container>

        <!-- Last Name Column -->
        <ng-container matColumnDef="Last Name">
          <th mat-header-cell *matHeaderCellDef>Last Name</th>
          <td mat-cell *matCellDef="let element">{{ element.userLastName }}</td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="Email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element">{{ element.email }}</td>
        </ng-container>

        <!-- Role Column -->
        <ng-container matColumnDef="Role">
          <th mat-header-cell *matHeaderCellDef>Role</th>
          <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="element.role && element.role.length > 0">
              <div *ngFor="let r of element.role">{{ r.roleName }}</div>
            </ng-container>
          </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="Actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button matTooltip="Edit" color="primary" (click)="handleEditAction(element)">
              <mat-icon>edit</mat-icon>
            </button>

            <button mat-icon-button matTooltip="Delete" color="warn" (click)="deleteUsers(element.userName)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
        

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
