<div class="body">
  <nav class="navbar navbar-expand-lg navbar-light bg-light"
    style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/dashboard/users">Manage Employee</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <button (click)="addEmployee()"
            style="transition: background-color 0.5s ease; background-color: rgb(233, 232, 232);"
            type="button"
            class="btn btn-light btn-hover-effect">
            <div style="display: inline-flex; align-items: center;">
              <mat-icon style="margin-right: 4px;">person_add</mat-icon>Add
              Employee
            </div>
          </button>
        </ul>

        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search"
            aria-label="Search">
        </form>
      </div>
    </div>
  </nav>

  <div class="container" id="main-container">
    <div class="row">
      <!-- Before paginated *ngFor="let user of users"  -->
      <div *ngFor="let user of PaginatedData" class="col-md-6 col-xl-3">
        <div class="card m-b-30">
          <div class="card-body row">
            <div class="col-6">
              <div class="image-container">
                <a>
                  <img
                    src="{{ user?.imageUrl }}"
                    alt
                    class="img-fluid w-60" />
                </a>
              </div>
            </div>
            <div class="col-6 card-title align-self-center mb-0">
              <h4>{{ user?.userName }}</h4>
              <p class="m-0" *ngFor="let role of user?.role">
                {{ role.roleName }}
              </p>
            </div>
          </div>

          <ul class="list-group list-group-flush">
            <li
              class="list-group-item d-flex justify-content-start align-items-center">
              <span class="flex-grow-1">{{ user?.email }}</span>
              <span class="ml-auto">
                <mat-icon>email</mat-icon>
              </span>
            </li>
            <li
              class="list-group-item d-flex justify-content-start align-items-center"
              matTooltip="send message"
              (click)="messagePhone()">

              <span class="flex-grow-1 phone-number">{{ user?.phoneNumber
                }}</span>
              &nbsp;
              <span (click)="copyPhoneNumber(user.phoneNumber)" class="ml-auto"
                matTooltip="copy">
                <mat-icon style="font-size: 20px">content_copy</mat-icon>
              </span>
              <span class="ml-auto">
                <mat-icon style="color: green">sms</mat-icon>
              </span>
            </li>
          </ul>

          <div class="card-body">
            <div class="float-right btn-group btn-group-sm">
              <!-- Block/Unblock icon -->
              <mat-slide-toggle
                class="btn btn-info custom-slide-toggle"
                (click)="getUserByUsername(user.userName)"
                (change)="toggleUser(user)"
                [checked]="isBlocked(user.userName)"
                style="font-size: 10px"
                matTooltip="{{ isBlocked(user.userName) ? 'Unblock user' : 'Block user' }}">
              </mat-slide-toggle>
              &nbsp; &nbsp;
              <a
                (click)="editDepartment(user)"
                class="btn btn-primary tooltips"
                matTooltip="Edit user"><i class="fa fa-pencil"></i>
              </a>
              &nbsp; &nbsp;
              <a
                (click)="deleteEmployee(user.userName)"
                class="btn btn-secondary tooltips"
                matTooltip="Delete user"><i class="fa fa-times"></i></a>
            </div>
          </div>
        </div>
      </div>

      <app-pagination
        [totalItems]="totalUsers"
        [itemsPerPage]="itemsPerPage"
        [currentPage]="currentPage"
        (onclick)="changePage($event)"></app-pagination>
    </div>
    <!-- Notification for no employees -->
    <div *ngIf="users?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
      <div class="alert alert-info" role="alert">
        <h4 class="alert-heading text-center">NO EMPLOYEES!</h4>
        <p class="text-center">No Employee were found.</p>
      </div>
    </div>
  </div>
</div>
