@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';

.body {
  background-color: #cecbcb;
}

a {
  cursor: pointer;
}

.navbar {
  margin-bottom: 30px;
}

.card {
  border: none;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
  margin-bottom: 30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
}

.card:hover,
.card:focus {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #dbe0db; 
  
}


.list-group-item span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
}


.w-60 {
  width: 60px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px;
  font-weight: 600;
}

.social-links li a {
  -webkit-border-radius: 50%;
  background-color: rgba(89, 206, 181, .85);
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 30px;
  font-size: 12px;
}

a {
  color: #707070;
}
i {
color: white;
}

a {
color: white;
}

.image-container {
  display: inline-block;
  padding: 5px; 
  border-radius: 20px; 
  height: 20px;
}


.page-link {
  color: black;
}

/* styles.css or your component-specific CSS file */
.phone-number {
  font-size: 16px;
  cursor: pointer; 
  transition: font-size 0.3s, color 0.3s;
}

.phone-number:hover {
  background-color: #1f9108; 
  margin-bottom: 10px;
}

.copy-icon {
  cursor: pointer; 
}

.copy-icon:hover {
  background-color: #f0f0f0;
  margin-bottom: 10px;
}
