
  .mat-icon {
    vertical-align: center;
    margin-right: 1rem;
    color: rgb(60, 170, 60);
  }
  .mat-divider {
    border-top-width: 2px;
    border-color: white;
  }

  mat-expansion-panel{
    background: #1e2431;
    margin-left: -6px;
    margin-bottom: 20px;
  }

  .mat-expansion-panel-header {
    color: rgb(223, 217, 217);
    font-size: 1.0rem;
    .mat-expansion-indicator {
      color: white;
    }
  }

  span {
    color: rgb(223, 217, 217);
  }


  h2 {
    color: #f2f3f8;
    font-size: 1.2rem;
    margin-left: 50px;
    font-weight: 600;
    letter-spacing: 1px;
  }

  // staring here
    .profile-card {
      background-color: #1e2431;
      color: white;
      padding: 15px;
      margin-top: -25px;
    }

    .profile-header {
      display: flex;
      align-items: center;
    }

    .profile-img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }

    .profile-info {
      margin-left: 15px;
    }

    .profile-name {
      margin: 0;
      font-weight: 500;
    }

    .profile-status {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      display: inline-block;
      margin-right: 5px;
    }

    .online {
      background-color: #28a745;
      /* Green color for online status */
    }

    .status-text {
      vertical-align: middle;
    }

    .section-header {
      margin-top: 5px;
      border-top: 2px solid #444;
      padding-top: 10px;
    }




