.logo {
    padding: 2.6rem 1rem;
    img {
      width: 215px;
      height: 150px;
      margin-left: -5px;
      display: block;
      border-radius: 10%;
    }
  }
  
  .mat-icon {
    vertical-align: center;
    margin-right: 1rem;
    color: rgb(60, 170, 60);
  }
  .mat-divider {
    border-top-width: 2px;
    border-color: white;
  }

  mat-expansion-panel{
    background: #1e2431;
    margin-left: -6px;
    margin-bottom: 20px;
  }

  .mat-expansion-panel-header {
    color: rgb(223, 217, 217);
    font-size: 1.0rem;
    .mat-expansion-indicator {
      color: white; 
    }
  }

  span {
    color: rgb(223, 217, 217);
  }
 

  h2 {
    color: #f2f3f8;
    font-size: 1.2rem;
    margin-left: 50px;
    font-weight: 600;
    letter-spacing: 1px;
  }

