<mat-nav-list class="mt-5">

  <div class="profile-card">
    <div class="profile-header">
      <img src="assets/img/image-placeholder.png"
        class="profile-img">
      <div class="profile-info">
        <h4 class="profile-name">Godfrey, Admin</h4>
        <span class="profile-status online"></span>
        <span class="status-text">Online</span>
      </div>
    </div>
    &nbsp; &nbsp;
    <div class="section-header">
    </div>
  </div>

  <a mat-list-item routerLinkActive="list-item-active"
    routerLink="/dashboard/home">
    <mat-icon>dashboard</mat-icon> <span>Dashboard</span>
  </a>
  &nbsp;
  <a mat-list-item routerLinkActive="list-item-active"
    routerLink="/dashboard/assets">
    <mat-icon>devices</mat-icon> <span>Assets</span>
  </a>
  &nbsp;
  <a mat-list-item routerLinkActive="list-item-active"
    routerLink="/dashboard/maintainance">
    <mat-icon>construction </mat-icon> <span>Maintenance</span>
  </a>
  <div class="section-header">
  </div>
  <a mat-list-item routerLinkActive="list-item-active"
    routerLink="/dashboard/reports">
    <mat-icon>picture_as_pdf</mat-icon> <span>Reports</span>
  </a>
  &nbsp;
  <a mat-list-item routerLinkActive="list-item-active"
    routerLink="/dashboard/notifications">
    <mat-icon color="warn">forum </mat-icon> <span>Notifications</span>
  </a>
  &nbsp;
  <mat-expansion-panel [class.mat-elevation-z0]="true">
    <mat-expansion-panel-header>
      <mat-icon>manage_accounts</mat-icon> Manage Assets
    </mat-expansion-panel-header>
    <mat-nav-list>
      <a mat-list-item
        routerLink="/dashboard/departments"><span><mat-icon>business</mat-icon>
          Departments</span></a>
      <a mat-list-item
        routerLink="/dashboard/status"><span><mat-icon>lightbulb</mat-icon>
          Status</span></a>
      <a mat-list-item
        routerLink="/dashboard/category"><span><mat-icon>category</mat-icon>
          Categories</span></a>
      <a mat-list-item
        routerLink="/dashboard/users"><span><mat-icon>groups</mat-icon>
          Employees</span></a>
    </mat-nav-list>
  </mat-expansion-panel>

</mat-nav-list>
