<mat-toolbar>
  <mat-toolbar-row>
    <span class="custom-title">My Request</span>
    <span class="spacer"></span>
    <button
      class="mat-dialog-close custom-close-button"
      mat-icon-button
      mat-dialog-close
    >
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

&nbsp;
<!-- Check if Requests is not empty, then display the table -->
<div *ngIf="myRequests && myRequests.length > 0; else noRequestsMessage">
  <table class="table align-middle mb-0 bg-dark">
    <thead class="bg-light">
      <tr>
        <th>Name</th>
        <th>Department</th>
        <th>Number of Asset</th>
        <th>From</th>
        <th>To</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let myRequest of myRequests">
        <td>{{ myRequest.name }}</td>
        <td>{{ myRequest.department }}</td>
        <td>{{ myRequest.numberOfAsset }}</td>
        <td>{{ myRequest.startDate }}</td>
        <td>{{ myRequest.endDate }}</td>
        <td>
          <p class="button-like"
            [ngClass]="{
              'approved': myRequest.statusAsset === 'APPROVED',
              'rejected': myRequest.statusAsset === 'REJECTED',
              'pending': myRequest.statusAsset === 'PENDING'
            }"
            [ngStyle]="{
              'border-radius': '25px',
              'cursor': 'pointer',
              'text-align': 'center',
            }"
          >
            {{ myRequest.statusAsset }}
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Message to display when Requests is empty -->
<ng-template #noRequestsMessage>
  <h2 class="text-center">No requests available.</h2>
</ng-template>


