<div class="container mt-3">
  <div class="card">
    <div class="dashboard">
      <div class="circle-card asset">
        <div class="circle" routerLink="/dashboard/assets">
          <p class="number">{{data?.product}}</p>
          <mat-icon>devices</mat-icon>
          <span class="name">Asset</span>
        </div>
      </div>
      <!-- Hint users, bill come from getCount in backend -->
      <div class="circle-card component">
        <div class="circle" routerLink="/dashboard/users">
          <p class="number">{{data?.users}}</p>
          <mat-icon>groups</mat-icon>
          <span class="name">Active Users</span>
        </div>
      </div>
      <div class="circle-card mantainance">
        <div class="circle">
          <p class="number">150</p>
          <mat-icon>construction</mat-icon>
          <span class="name">Mantainance</span>
        </div>
      </div>
      <div class="circle-card report" routerLink="/dashboard/reports">
        <div class="circle">
          <p class="number">{{data?.bill}}</p>
          <mat-icon>picture_as_pdf</mat-icon>
          <span class="name">Report</span>
        </div>
      </div>
    </div>
  </div>
  &nbsp;

  <div class="col-12">
    <div class="row">
      <div class="col-6">
        <!-- Notification model -->
        <div class="card" style="background-color: rgb(236, 235, 233)">
          <h2 class="asset-model">Live Chat Users</h2>
          &nbsp;
          <div *ngIf="chatDetails && chatDetails.length > 0">
            <table
              mat-table
              [dataSource]="chatDetails"
              class="mat-elevation-z8"
            >
              <!-- Nickname Column -->
              <ng-container matColumnDef="nickName">
                <th mat-header-cell *matHeaderCellDef>Nickname</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.nickName }}
                </td>
              </ng-container>

              <!-- Full Name Column -->
              <ng-container matColumnDef="fullName">
                <th mat-header-cell *matHeaderCellDef>Full Name</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.fullName }}
                </td>
              </ng-container>

              <!-- Status Column -->
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let element">
                  <span
                    [ngStyle]="{
                      'background-color':
                        element.status === 'ONLINE' ? 'blue' : 'black',
                      color: 'white',
                      padding: '4px 8px',
                      'border-radius': '20px'
                    }"
                  >
                    {{ element.status }}
                  </span>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>
        </div>
        &nbsp;
        <!-- No User Chatting Message -->
        <div *ngIf="!chatDetails || chatDetails.length === 0">
          <p class="text-center">No User Chatting</p>
        </div>
      </div>
      <div class="col-6">ggg</div>
    </div>
  </div>
</div>
