<div class="container mt-3">
  <div class="card">
    <div class="dashboard">
      <div class="circle-card asset">
        <div class="circle" routerLink="/dashboard/assets">
          <p class="number">{{data?.product}}</p>
          <mat-icon>devices</mat-icon>
          <span class="name">Asset</span>
        </div>
      </div>

      <!-- Hint users, bill come from getCount in backend -->
      <div class="circle-card component">
        <div class="circle" routerLink="/dashboard/users">
          <p class="number">{{data?.users}}</p>
          <mat-icon>groups</mat-icon>
          <span class="name">Active Users</span>
        </div>

      </div>
      <div class="circle-card mantainance">
        <div class="circle" routerLink="/dashboard/maintainance">
          <p class="number">

            {{data?.maintenance}}
          </p>
          <mat-icon>construction</mat-icon>
          <span class="name">Mantainance</span>
        </div>
      </div>
      <div class="circle-card report" routerLink="/dashboard/reportpage">
        <div class="circle">
          <p class="number">

            {{data?.bill}}
          </p>
          <mat-icon>picture_as_pdf</mat-icon>
          <span class="name">Report</span>
        </div>
      </div>
    </div>
  </div>
  &nbsp;

  <!-- Alert Message -->
  <div *ngIf="alertMessage"
    class="alert alert-danger d-flex align-items-center" role="alert"
    style="position: relative;">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
      fill="currentColor"
      class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"
      viewBox="0 0 16 16" role="img" aria-label="danger:">
      <path
        d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </svg>
    <div class="w3-panel w3-green w3-round" style="flex-grow: 1;">
      Asset needs to be Maintained {{ alertMessage }}
    </div>
    <svg (click)="closeAlert()" xmlns="http://www.w3.org/2000/svg" width="24"
      height="24" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16"
      style="position: absolute; right: 10px; cursor: pointer;">
      <path
        d="M8 1a7 7 0 1 1 0 14A7 7 0 0 1 8 1zM4.646 4.646a.5.5 0 0 0 0 .708L7.293 8 4.646 10.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646a.5.5 0 0 0-.708 0z" />
    </svg>
  </div>

  <div class="col-12" style="cursor: pointer;">
    <div class="row">
      <div class="col-6">
        <div class="card">
          <div class="card-body text-center">
            <h2 class="card-title">Account Activity</h2>

            <div class="activity-header">
              <p class="card-text">Latest activities on your account</p>

              <button (click)="deleteUserLogging()" mat-raised-button
                matTooltip="clear activity"
                style="display: flex; justify-content: center; align-items: center;">
                <mat-icon class="icon">delete_sweep</mat-icon>
              </button>

            </div>

          </div>

          <div class="table-wrapper">
            <div *ngIf="authLogs && authLogs.length > 0">
              <table class="auth-log-table">
                <thead>
                  <tr>
                    <th>Username</th>
                    <th>IP Address</th>
                    <th>Attempt</th>
                    <th>Type</th>
                    <th>Time</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let log of authLogs">
                    <td>{{ log.username }}</td>
                    <td>{{ log.ipAddress }}</td>
                    <td>{{ log.attemptCount }}</td>
                    <td style="text-align: center;">
                      <button
                        [ngClass]="{'btn-success': log.success, 'btn-danger': !log.success}"
                        class="btn"
                        disabled
                        style="padding: 1px 5px; font-size: 0.8rem;">{{
                        log.success
                        ? 'Success' : 'Failed' }}</button>
                    </td>
                    <td>{{ log.timestamp }}</td>
                    <td>
                      <button class="btn btn-primary"
                        style="padding: 1px 5px; font-size: 0.8rem;"
                        (click)="viewAllTimestamps(log)" data-toggle="modal"
                        data-target="#exampleModal">View All</button>
                    </td>
                  </tr>
                </tbody>

              </table>
            </div>

            <!-- No Activity Message -->
            <div
              *ngIf="!authLogs || authLogs.length === 0">
              <p class="text-center" style="text-align: center;">
                <span style="display: inline-flex; align-items: center;">
                  <mat-icon
                    style="margin-right: 8px; color: rgb(101, 238, 101)">info_outline</mat-icon>
                  No
                  Logged user
                </span>
              </p>
            </div>
          </div>

          <div *ngIf="showTimestamps" class="modal" (click)="closeTimestamps()">
            <div class="modal-content">
              <p mat-raised-button color="warn" mat-dialog-close
                class="button-hover">
              </p>
              <h2>All Timestamps {{ selectedUserTimestamps[0]?.username
                }}</h2>
              <ul>
                <li *ngFor="let timestamp of selectedUserTimestamps">
                  {{ timestamp }}
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>

      <div class="col-6">
        <!-- Maintenance model -->
        <div style="background-color: rgb(223, 219, 219);">
          &nbsp;
          <h4 class="asset-model"> Maintenance
            Schedule</h4>
          &nbsp;
          <div *ngIf="maintenanceDetails && maintenanceDetails.length > 0">
            <table
              mat-table
              [dataSource]="maintenanceDetails | paginate: {itemsPerPage: itemsPerPage, currentPage: p}"
              class="mat-elevation-z1">
              <!-- Information Column -->
              <ng-container matColumnDef="Information">
                <th mat-header-cell *matHeaderCellDef>Information</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.note }}
                </td>
              </ng-container>

              <!-- Date Column -->
              <ng-container matColumnDef="Date">
                <th mat-header-cell *matHeaderCellDef>Date</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.selectedDate }}
                </td>
              </ng-container>

              <!-- Time Column -->
              <ng-container matColumnDef="Time">
                <th mat-header-cell *matHeaderCellDef>Time</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.selectedTime }}
                </td>
              </ng-container>

              <!--  Button -->
              <ng-container matColumnDef="Actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let element">
                  <button (click)="deleteSchedule(element.id)" mat-icon-button
                    color="accent" class="delete-button">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>
        </div>
        <br>
        <!-- No Maintenance Message -->
        <div *ngIf="!maintenanceDetails || maintenanceDetails.length === 0">
          <p class="text-center" style="text-align: center;">
            <span style="display: inline-flex; align-items: center;">
              <mat-icon
                style="margin-right: 8px; color: rgb(101, 238, 101)">info</mat-icon>
              No
              Information
            </span>
          </p>
        </div>
        <mat-divider></mat-divider>
        &nbsp;
      </div>
    </div>
  </div>

</div>
