
// Variables
$primary-color: #287bd3;
$secondary-color: #1c9b3a;
$mantainance-color: #9aa728;
$report-color: #c2169d;
$card-size: 150px;
$circle-size: 190px;
$distance-between: 35px;

// Mixin for circle
@mixin circle($color) {
  width: $circle-size;
  height: $circle-size;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }

  .number {
    font-size: 20px;
  }

  .name {
    margin-top: 8px;
  }

  mat-icon {
    font-size: 60px;
    width: 60px;
    height: 60px;
  }
}

.asset-model {
  text-align: center;
  margin: 0;
}

table {
  width: 100%;
}

// Asset circle card
.circle-card.asset {
  .circle {
    @include circle($primary-color);
  }
}

// Component circle card
.circle-card.component {
  .circle {
    @include circle($secondary-color);
  }
}

// Mantainance circle card
.circle-card.mantainance {
    .circle {
      @include circle($mantainance-color);
    }
  }

  // Report circle card
.circle-card.report {
    .circle {
      @include circle($report-color);
    }
  }

// Dashboard styles
.dashboard {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 30px auto;
  margin-left: 120px;
  max-width: 800px;
}

// Space between the circle cards
.circle-card {
  margin-right: $distance-between;
}

// Media query for responsiveness
@media (max-width: 768px) {
  .dashboard {
    flex-direction: column;
    align-items: center;
  }

  .circle-card {
    margin-bottom: 20px;
    margin-right: 0;
  }
}

/* Add hover effect */
.delete-button:hover {
  background-color: rgba(77, 105, 233, 0.1);
  transition: background-color 0.3s ease;
}

.delete-button:active {
  transform: translateY(4px);
  transition: transform 0.1s ease;
}


.auth-log-table {
  width: 100%;
  border-collapse: collapse;
}

.auth-log-table th,
.auth-log-table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.auth-log-table th {
  background-color: #f2f2f2;
  color: #333333;
}

.auth-log-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.auth-log-table tbody tr:hover {
  background-color: #e2e2e2;
}


.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10%;
  width: 30%;
}

.close {
  color: #aaa;
  float: left;
  font-size: 28px;
  font-weight: bold;
}

.table-wrapper {
  overflow-x: auto;
  max-width: 100%;
}

.auth-log-table {
  width: 100%;
  border-collapse: collapse;
}

.auth-log-table th,
.auth-log-table td {
  padding: 8px;
  text-align: left;
  white-space: nowrap;
}

.auth-log-table th {
  background-color: #f2f2f2;
  position: sticky;
  top: 0;
  z-index: 1;
}

.auth-log-table td {
  border-bottom: 1px solid #ddd;
}

.auth-log-table th,
.auth-log-table td:last-child {
  position: relative;
}



