<div class="modal-content">
  <div class="modal-header">
    <h2 style="font-weight: bold; text-align: center">
      {{ dialogData.action }} Employee
    </h2>
    <a mat-raised-button color="basic" mat-dialog-close>
      Close
      <span aria-hidden="true">&times;</span>
    </a>
  </div>
  <div class="modal-body">
    <form [formGroup]="addUserForm">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input
              matInput
              class="form-control"
              formControlName="userFirstName"
              placeholder="First Name"
              autocomplete="off"
              required
            />
            <mat-error
              *ngIf="
                addUserForm.controls.userFirstName.touched &&
                addUserForm.controls.userFirstName.invalid
              "
              class="error-message"
            >
              <span *ngIf="addUserForm.controls.userFirstName.errors.required"
                >This field is mandatory.</span
              >
              <span *ngIf="addUserForm.controls.userFirstName.errors.pattern"
                >This field is invalid.</span
              >
            </mat-error>
          </div>

          <div class="form-group">
            <input
              type="text"
              class="form-control"
              formControlName="userName"
              placeholder="Username"
              autocomplete="off"
              required
            />
            <mat-error
              *ngIf="
                addUserForm.controls.userName.touched &&
                addUserForm.controls.userName.invalid
              "
              class="error-message"
            >
              <span *ngIf="addUserForm.controls.userName.errors.required"
                >This field is mandatory.</span
              >
              <span *ngIf="addUserForm.controls.userName.errors.pattern"
                >This field is invalid.</span
              >
            </mat-error>
          </div>

          <div class="form-group">
            <input
              type="email"
              formControlName="email"
              class="form-control"
              placeholder="Email"
              autocomplete="off"
              required
            />
            <mat-error
              *ngIf="
                addUserForm.controls.email.touched &&
                addUserForm.controls.email.invalid
              "
              class="error-message"
            >
              <span *ngIf="addUserForm.controls.email.errors.required"
                >This field is mandatory.</span
              >
              <span *ngIf="addUserForm.controls.email.errors.pattern"
                >This field is invalid.</span
              >
            </mat-error>
          </div>
          <div class="form-group">
            <select class="form-select" formControlName="role">
              <mat-select disableRipple>Role</mat-select>
              <option *ngFor="let r of role" [value]="r.roleName">
                {{ r.roleName }}
              </option>
            </select>
            <mat-error
              *ngIf="
                addUserForm.get('role').touched &&
                addUserForm.get('role').invalid
              "
              class="error-message"
            >
              <span *ngIf="addUserForm.get('role').errors?.required"
                >This field is mandatory.</span
              >
              <span *ngIf="addUserForm.get('role').errors?.pattern"
                >This field is invalid.</span
              >
            </mat-error>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <input
              matInput
              class="form-control"
              formControlName="userLastName"
              placeholder="Last Name"
              autocomplete="off"
              required
            />
            <mat-error
              *ngIf="
                addUserForm.controls.userLastName.touched &&
                addUserForm.controls.userLastName.invalid
              "
              class="error-message"
            >
              <span *ngIf="addUserForm.controls.userLastName.errors.required"
                >This field is mandatory.</span
              >
              <span *ngIf="addUserForm.controls.userLastName.errors.pattern"
                >This field is invalid.</span
              >
            </mat-error>
          </div>

          <div class="form-group">
            <input
              type="text"
              formControlName="phoneNumber"
              class="form-control"
              placeholder="Phone Number"
              autocomplete="off"
              required
            />
            <mat-error
              *ngIf="
                addUserForm.controls.phoneNumber.touched &&
                addUserForm.controls.phoneNumber.invalid
              "
              class="error-message"
            >
              <span *ngIf="addUserForm.controls.phoneNumber.errors.required"
                >This field is mandatory.</span
              >
              <span *ngIf="addUserForm.controls.phoneNumber.errors.pattern"
                >This field is invalid.</span
              >
            </mat-error>
          </div>

          <div class="form-group">
            <input
              type="password"
              formControlName="userPassword"
              class="form-control"
              placeholder="Password"
              autocomplete="off"
              [readonly]="isEditMode"
              required
            />
            <mat-error
              *ngIf="
                addUserForm.controls.userPassword.touched &&
                addUserForm.controls.userPassword.invalid
              "
              class="error-message"
            >
              <span *ngIf="addUserForm.controls.userPassword.errors.required"
                >This field is mandatory.</span
              >
              <span *ngIf="addUserForm.controls.userPassword.errors.pattern"
                >This field is invalid.</span
              >
            </mat-error>
          </div>

          <div class="form-group">
            <input
              type="text"
              formControlName="imageUrl"
              class="form-control"
              placeholder="Image URL"
              autocomplete="off"
              required
            />
            <mat-error
              *ngIf="
                addUserForm.controls.imageUrl.touched &&
                addUserForm.controls.imageUrl.invalid
              "
              class="error-message"
            >
              <span *ngIf="addUserForm.controls.imageUrl.errors.required"
                >This field is mandatory.</span
              >
              <span *ngIf="addUserForm.controls.imageUrl.errors.pattern"
                >This field is invalid.</span
              >
            </mat-error>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          (click)="handleSubmit()"
          [disabled]="addUserForm.invalid"
          type="submit"
          class="btn btn-primary"
        >
          {{ action }} changes
        </button>
      </div>
    </form>
  </div>
</div>
